<div class="container" [ngClass]="isMenuVisible ? 'menu-visible' : ''">
  <div class="wrapper">
    <!--#### HEADER  ####-->
    <div class="header">
      <div class="logo">
        <img src="./assets/logo-bookmark.svg" alt="logo" />
      </div>
      <ul class="links-desktop">
        <li class="item"><a href="#">FEATURES</a></li>
        <li class="item"><a href="#">PRICING</a></li>
        <li class="item"><a href="#">CONTACT</a></li>
        <li class="item"><a href="#">LOGIN</a></li>
      </ul>
      <div class="menu-mobile" [ngClass]="isMenuVisible ? 'visible' : 'hidden'">
        <div class="top">
          <img src="./assets/logoMenuMobile.svg" alt="" />
          <span class="btn-close-menu-bomile" (click)="handleToggleMenu()">
            <i class="fa-solid fa-x"></i
          ></span>
        </div>
        <ul class="links-mobile">
          <li class="item"><a href="#">FEATURES</a></li>
          <li class="item"><a href="#">PRICING</a></li>
          <li class="item"><a href="#">CONTACT</a></li>
          <li class="item"><a href="#">LOGIN</a></li>
        </ul>
        <ul class="socials">
          <li class="social">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
          </li>
          <li class="social">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
        </ul>
      </div>
      <div class="btn-toggle-menu" (click)="handleToggleMenu()">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>
    <!--####  BANNIERE ####-->
    <div class="banner">
      <div class="left">
        <h1 class="title">A Simple Bookmark Manager</h1>
        <p class="description">
          A clean and simple interface to organize your favourite websites. Open
          a new browser tab and see your sites load instantly. Try it for free.
        </p>
        <div class="btn-action">
          <button class="chrome">Get it on Chrome</button>
          <button class="firefox">Get it on Firefox</button>
        </div>
      </div>
      <div class="right">
        <img src="./assets/illustration-hero.svg" alt="" />
        <div class="rectangle1"></div>
      </div>
    </div>

    <!--####  FEATURE  ####-->
    <div class="feature">
      <div class="top">
        <h2 class="title">Features</h2>
        <div class="description">
          Our aim is to make it quick and easy for you to access your favourite
          websites. Your bookmarks sync between your devices so you can access
          them on the go.
        </div>
      </div>
      <div class="bottom">
        <ul class="menu">
          <li class="tab active" (click)="handleSelectTab('tab1')" id="tab1">
            Simple Bookmarking
          </li>
          <li class="tab" (click)="handleSelectTab('tab2')" id="tab2">
            Speedy Searching
          </li>
          <li class="tab" (click)="handleSelectTab('tab3')" id="tab3">
            Easy Sharing
          </li>
        </ul>
        <div class="container-tab">
          <div class="content tab1 active">
            <div class="left">
              <img src="./assets/illustration-features-tab-1.svg" alt="" />
            </div>
            <div class="right">
              <h2 class="title">Bookmark in one click</h2>
              <div class="description">
                Organize your bookmarks however you like. Our simple
                drag-and-drop interface gives you complete control over how you
                manage your favourite sites.
              </div>
              <button>More Info</button>
            </div>
          </div>
          <div class="content tab2">
            <div class="left">
              <img src="./assets/illustration-features-tab-2.svg" alt="" />
            </div>
            <div class="right">
              <h2 class="title">Intelligent search</h2>
              <div class="description">
                Our powerful search feature will help you find saved sites in no
                time at all. No need to trawl through all of your bookmarks.
              </div>
              <button>More Info</button>
            </div>
          </div>
          <div class="content tab3">
            <div class="left">
              <img src="./assets/illustration-features-tab-3.svg" alt="" />
            </div>
            <div class="right">
              <h2 class="title">Share your bookmarks</h2>
              <div class="description">
                Easily share your bookmarks and collections with others. Create
                a shareable link that you can send at the click of a button.
              </div>
              <button>More Info</button>
            </div>
          </div>
          <div class="rectangle2"></div>
        </div>
      </div>
    </div>
    <!--#### DOWNLOAD  ####-->
    <div class="download">
      <h2 class="title">Download the extension</h2>
      <div class="description">
        We’ve got more browsers in the pipeline. Please do let us know if you’ve
        got a favourite you’d like us to prioritize.
      </div>
      <div class="bottom">
        <div class="card">
          <img src="./assets/logo-chrome.svg" alt="" />
          <div class="body">
            <h3 class="title">Add to Chrome</h3>
            <p class="description">Minimum version 62</p>
          </div>
          <div class="foot">
            <button>Add & Install Extension</button>
          </div>
        </div>
        <div class="card">
          <img src="./assets/logo-firefox.svg" alt="" />
          <div class="body">
            <h3 class="title">Add to Firefox</h3>
            <p class="description">Minimum version 55</p>
          </div>
          <div class="foot">
            <button>Add & Install Extension</button>
          </div>
        </div>
        <div class="card">
          <img src="./assets/logo-opera.svg" alt="" />
          <div class="body">
            <h3 class="title">Add to Opera</h3>
            <p class="description">Minimum version 46</p>
          </div>
          <div class="foot">
            <button>Add & Install Extension</button>
          </div>
        </div>
      </div>
    </div>
    <!--#### QUESTIONS  ####-->
    <div class="questions">
      <div class="top">
        <h2 class="title">Frequently Asked Questions</h2>
        <div class="description">
          Here are some of our FAQs. If you have any other questions you’d like
          answered please feel free to email us.
        </div>
      </div>
      <div class="midle">
        <div class="question">
          <div class="head" id="q1" (click)="handleToggleQuestio('q1')">
            <h4 class="text">What is Bookmark?</h4>
            <span class="icon"
              ><i class="fa-solid fa-chevron-down"></i
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
          </div>
          <div class="content">
            Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa,
            ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros
            aliquet convallis ultricies. Mauris augue massa, ultricies non
            ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis
            ultricies. Mauris augue massa, ultricies non ligula. Suspendisse
            imperdiet.
          </div>
        </div>
        <div class="question">
          <div class="head" id="q2" (click)="handleToggleQuestio('q2')">
            <h4 class="text">How can I request a new browser?</h4>
            <span class="icon"
              ><i class="fa-solid fa-chevron-down"></i
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
          </div>
          <div class="content">
            Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa,
            ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros
            aliquet convallis ultricies. Mauris augue massa, ultricies non
            ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis
            ultricies. Mauris augue massa, ultricies non ligula. Suspendisse
            imperdiet.
          </div>
        </div>
        <div class="question">
          <div class="head" id="q3" (click)="handleToggleQuestio('q3')">
            <h4 class="text">Is there a mobile app?</h4>
            <span class="icon"
              ><i class="fa-solid fa-chevron-down"></i
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
          </div>
          <div class="content">
            Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa,
            ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros
            aliquet convallis ultricies. Mauris augue massa, ultricies non
            ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis
            ultricies. Mauris augue massa, ultricies non ligula. Suspendisse
            imperdiet.
          </div>
        </div>
        <div class="question">
          <div class="head" id="q4" (click)="handleToggleQuestio('q4')">
            <h4 class="text">What about other Chromium browsers?</h4>
            <span class="icon"
              ><i class="fa-solid fa-chevron-down"></i
              ><i class="fa-solid fa-chevron-up"></i
            ></span>
          </div>
          <div class="content">
            Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa,
            ultricies non ligula. Suspendisse imperdiet. Vivamus luctus eros
            aliquet convallis ultricies. Mauris augue massa, ultricies non
            ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis
            ultricies. Mauris augue massa, ultricies non ligula. Suspendisse
            imperdiet.
          </div>
        </div>
      </div>
      <div class="bottom">
        <button>More Info</button>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="top">
      <p class="first-title">35,000+ ALREADY JOINED</p>
      <p class="second-title">Stay up-to-date with what we’re doing</p>
      <div class="form">
        <input type="text" name="name" placeholder="Enter your email address" />
        <button>Contact Us</button>
      </div>
    </div>
    <div class="bottom">
      <div class="navigation">
        <div class="logo">
          <img src="./assets/logo-footer.svg" alt="" />
        </div>
        <ul class="link">
          <li class="item"><a href="#">FEATURES</a></li>
          <li class="item"><a href="#">PRICING</a></li>
          <li class="item"><a href="#">PRICING</a></li>
        </ul>
        <ul class="socials">
          <li class="social">
            <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
          </li>
          <li class="social">
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- component.html -->
  <button
    class="go-to-top-button"
    [ngClass]="showGoToTopButton ? 'show' : ''"
    (click)="scrollToTop()"
  >
    <i class="fa-solid fa-arrow-up"></i>
  </button>
</div>
